# Terraform variables for Selfhosted Deployment

# Participant Configuration for Selfhosted
participant_name = "selfhosted"
 
# Kubernetes Configuration (for standalone mode)
kube_context     = "<kube_context>"
kube_config_path = "<kube_config path>" #example: ~/.kube/config
 
# Database Configuration
db_server_fqdn                         = "<db_server>" 
postgres_admin_credentials_secret_name = "<credential_secret_name>"
 
# Environment Configuration
environment          = "selfhosted"

# State Machine Wait Times (in milliseconds)
negotiation_state_machine_wait_millis      = 2000
transfer_state_machine_wait_millis         = 2000
policy_monitor_state_machine_wait_millis   = 5000
data_plane_state_machine_wait_millis       = 5000

# Vault Configuration
vault_folder = ""
 
# Charts Path (relative to participant module)
charts_path = "../../../charts"

# Container Images for Self-Hosted Environments
control_plane_image      = "eonax-control-plane-postgresql-hashicorpvault"
data_plane_image         = "eonax-data-plane-postgresql-hashicorpvault"
identity_hub_image       = "eonax-identity-hub-postgresql-hashicorpvault"
telemetry_agent_image    = "eonax-telemetry-agent-postgresql-hashicorpvault"
